/* Top Right Container */
.top-right-container {
  position: absolute;
  top: 30px;
  right: 15px;
  display: flex;
  gap: 5px;
  z-index: 1000;
}

/* Rewind Button */
/* .rewindButton {
  font-size: 20px;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0.2rem;
  display: flex;
  align-items: center;
} */

/* Download Dropdown */
.dropdown-download {
  position: relative;
  padding: 0.2700rem 0.3rem;
  display: flex;
}

.dropbtn-download {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.65rem;
  padding: 0.2rem;
  display: flex;
  align-items: center; /* Ensure icons are vertically centered */
}

.dropdown-content-download {
  display: none;
  text-align: center;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 12.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0.75rem 1rem;
  border-radius: 0.625rem;
}

.dropdown-content-download a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

/* Settings Dropdown */
.dropdown {
  position: relative;
  padding: 0.2700rem 0.3rem;
  display: flex;
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.65rem;
  padding: 0.2rem;
  display: flex;
  align-items: center; /* Ensure icons are vertically centered */
}

.dropdown-content {
  display: none;
  text-align: center;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 12.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0.75rem 1rem;
  border-radius: 0.625rem;
}

.dropdown-content a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 1.25rem;
  width: 80%;
}

/* Adjust Dropdown */
.dropdown-adjust {
  position: relative;
  padding: 0.2700rem 0.3rem;
  display: flex;
}

.dropbtn-adjust {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.65rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
}

.dropdown-content-adjust {
  display: none;
  text-align: center;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 12.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0.75rem 1rem;
  border-radius: 0.625rem;
}

.dropdown-content-adjust a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

/* Toggle Button */
.toggleButton {
  width: 2.625rem;
  height: 1.375rem;
  padding: 0.125rem;
  border: 0.03125rem solid black;
  border-radius: 1.875rem;
  background-color: white;
  position: relative;
  overflow: hidden;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.toggleSwitchCircle {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.03125rem solid black;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
}

.toggleSwitchCircle.toggled {
  transform: translateX(1.375rem);
  background-color: #4caf50;
}

.toggleButton.toggled {
  background-color: #ccc;
}

/* Dropdowns and Buttons Styling */
.dropbtn, .dropbtn-download, .dropbtn-adjust, .rewindButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.65rem;
  padding: 0.2rem;
  display: flex;
  align-items: center; /* Ensure icons are vertically centered */
}