html {
  font-family: "arial";
  background-color: whitesmoke;

}

.nucleotide-view {
  grid-area: nv;
}

.nucleotide-sort {
  grid-area: ns;
}

.nucleotide-zoom {
  grid-area: nz;
}

.structure-view {
  grid-area: sv;
}

.feature-view-1 {
  grid-area: f1;
}

.feature-view-2 {
  grid-area: f2;
}

.feature-view-3 {
  grid-area: f3;
}

.feature-legend-container {
  grid-area: fl;
}

.psi-view {
  grid-area: pv;
}

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "fl fl fl fl fl pv pv f1 f1 f2 f2 f2 f2 f2 f3 f3 f3 f3 f3"
    "fl fl fl fl fl pv pv f1 f1 f2 f2 f2 f2 f2 f3 f3 f3 f3 f3"
    "fl fl fl fl fl pv pv f1 f1 f2 f2 f2 f2 f2 f3 f3 f3 f3 f3"
    "nv nv nv nv nv nv nv nv nv nv nv nv nv nz nz nz ns ns ns"
    "nv nv nv nv nv nv nv nv nv nv nv nv nv nz nz nz ns ns ns"
    "nv nv nv nv nv nv nv nv nv nv nv nv nv nz nz nz ns ns ns"
    "nv nv nv nv nv nv nv nv nv nv nv nv nv nz nz nz ns ns ns"
  ;
  gap: 0.5rem;
  background-color: whitesmoke;
  padding: 0.5rem;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
}

.grid-container>div {
  background-color: white;
  text-align: center;
  border-radius: 0.3125rem;
  font-size: 0.75rem;
}

.header {
  display: flex;
  /* Enables Flexbox */
  justify-content: flex-start;
  /* Aligns items to the start of the main-axis (horizontal) */
  /* Aligns items to the bottom */
  align-items: center;
  /* gap: 1rem;  */
}

form {
  padding: 0.10rem;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 13rem;
  margin-right: 0.625rem;
}

.select-wrapper select {
  font-size: 0.875rem;
  appearance: none;
  border: 1px solid #0e6f07;
  border-radius: 0.25rem;
  padding: 0.625rem;
  color: #0e6f07;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
}

.select-wrapper select:focus {
  outline: none;
  box-shadow: 0 0 0.25rem rgba(14, 111, 7, 0.4);
}

.select-wrapper .arrow {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
  border-top: 0.375rem solid #0e6f07;
  pointer-events: none;
}


input[type=submit] {
  appearance: none;
  border: none;
  background-color: #0e6f07;
  color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: #0c5405;
}

input[type="text"] {
  appearance: none;
  /* Removes default styles */
  border: none;
  /* No border, similar to your submit button */
  background-color: #fff;
  /* White background for text input */
  color: #0e6f07;
  /* Green text, matching your submit button text color */
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  /* Rounded corners like the submit button */
  font-size: 0.750rem;
  /* Font size to match the submit button */
  width: 36rem;
  box-sizing: border-box;
  /* Padding included in width */
}

input[type="text"]:focus {
  outline: none;
  /* Removes the default focus outline */
  box-shadow: 0 0 0.25rem rgba(14, 111, 7, 0.4);
  /* Focus shadow to match the submit button */
}

.forms-container {
  display: flex;
  /* Enables Flexbox */
  justify-content: flex-start;
  /* Aligns items to the start of the main-axis (horizontal) */
  align-items: flex-end;
  /* Aligns items to the bottom */
  padding: .5rem;
  gap: 0px;
  /* Space between the two forms */
}



input[type="submit"] {
  margin-top: 8px;
  /* Consistent vertical spacing for submit button */
}




  .feature-legend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
    margin-right: 0;
    padding-right: 0;
  }
  
  .feature-legend-title {
    margin-top: 10px;
    margin-bottom: 0.625rem;
    text-align: center;
    font-size: 14px;
    font-weight: 50;
  }
  
  .feature-legend-grids {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
    width: 100%;
  }
  
  .feature-grids-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.3125rem;
    justify-content: space-between;
  }
  
  .svg-grid-inclusion,
  .svg-grid-skipping {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    gap: 0.2rem;
  }
 
  
  .svg-grid-long-skipping {
    display: grid;
    flex-direction: row;
    gap: 0.2rem;
    width:50%;
    margin-left: auto; /* This will push the grid to the right */
  } .bottom{
    display: flex;
    flex-direction: row;
    gap: 0.3125rem;
    justify-content: space-between;
  }
  .legend {
    margin-right: auto; /* This will push the grid to the right */
    display: grid;
    width:50%;
    height:5vw;
  }
  
  .feature-long-svg {
    border: 1px solid black;
    width: 11.225vw;
    height: 2.5vw;
    box-sizing: border-box;
    border-radius: 0.3125rem;
    object-fit: fill;
    order: 1;  /* This will ensure that the long SVG is positioned after the skipping grid */
  }
  
  .feature-svg {
    border: 2px solid black;
    width: 5.5vw;
    height: 2.5vw;
    box-sizing: border-box;
    border-radius: 0.3125rem;
    object-fit: fill;
  }

.nucleotide-view {
  position: relative;
}

.feature-legend-container {
  position: relative;
}

.psi-view {
  position: relative;
}

.rewindButton {
  position: relative;
  /* top: 8px; */
  padding: 0.2700rem 0.3rem;
  top: .15rem;
  /* right: 10px;
    padding: 8px 12px; */
  font-size: 20px;
  /* Adjust the size of the arrow */
  color: #333;
  /* Arrow color */
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  /* Rounded corners like the submit button */
  cursor: pointer;
  right: 1rem;
  display: flex;
  /* align-items: center;
    justify-content: center; */
  /* width: 25px; 
    height: 25px;  */
  text-align: center;
}

#btn {
  position: absolute;
  bottom: 6px;
  right: 8px;
  padding: 8px 12px;
  font-size: 16px;
  /* Adjust the size of the arrow */
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 33%;
  /* Fully rounded borders to form a circle */
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  width: 20px;
  /* Fixed width */
  height: 20px;
  /* Fixed height */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* Removes underline if used within <a> tags */
  outline: none;
  /* Removes focus outline for a cleaner look */
}

#downloadButton:hover {
  background-color: #0056b3;
}


.svg-select {
  padding: 10px;
}

.svg-select label {
  display: block;
  margin: 5px 0;
}

.svg-select button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.svg-select button:hover {
  background-color: #0056b3;
}

.placeholder {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  /* Light white background */
  color: #333;
  /* Dark text color */
  font-size: 16px;
  /* Readable font size */
  text-align: center;
}

.placeholder2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  /* Light white background */
  color: #333;
  /* Dark text color */
  font-size: 16px;
  /* Readable font size */
  text-align: center;
}